.main-layout {
  width: 100%;
  max-width: 100%;

  min-height: 100vh;
  position: relative;
  overflow: hidden;
}


.main-body-container {
  flex-grow: 1;
  padding: 1rem;
  margin-left: 220px;
  transition: all 0.3s ease;
  position: relative;

  &.collapsedSidebar {
      margin-left: 90px;
  }
}




.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  background-color: #222222;
  color: #f2f2f2;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 12px;
  margin-left: 12px;
}

.headerTitleContainer {
  display: flex;
  align-items: center;
  margin-right: 40px;
  color: #f2f2f2;
  text-decoration: none;
}

.headerLogo {
  height: 40px;
}

.headerTitle {
  margin-left: 12px;
  font-weight: 600;
}

.headerNavList {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.headerNavPageLink {
  color: #f2f2f2;
  text-decoration: none;
  opacity: 0.75;

  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  transition-duration: 500ms;
  transition-property: opacity;
}

.headerNavPageLink:hover {
  opacity: 1;
}

.headerNavPageLinkActive {
  color: #f2f2f2;
  text-decoration: none;
}

.headerNavLeftMargin {
  margin-left: 20px;
}

.headerRightText {
  font-weight: normal;
  margin-left: 40px;
}

.microsoftLogo {
  height: 23px;
  font-weight: 600;
}

.githubLogo {
  height: 20px;
}

.toggle-theme-button {

  position: absolute;
  right: 1rem;
  top: 40px;
}

.main-body {}

@media only screen and (min-width: 768px) {
  .main-layout {
      padding-top: 52px;
      display: flex;
  }

  .main-body {
      padding-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
  }

  // .main-body-container {
  //     border-top-left-radius: 8px;
  // }

}

@media only screen and (max-width: 767px) {
  .toggle-theme-button {
      top: 78px;
  }

  .main-body-container {
      margin-left: 0;
      height: calc(100vh - 61px);
      overflow-y: scroll;
  }

  .main-body {
      height: 100%;
  }
}