@import "../../../assets/scss/config/variable";
.sidebar-container {
  width: 220px;
  position: fixed;
  left: 0;
  top: 0;
  transition: all 0.3s ease;
  z-index: 99;
  background-color: $primary;
  &.sidebarContainerCollapse {
      width: 90px;
  }
 
}


.sidebar-body {
  height: calc(100vh - 55px);
  display: flex;
  align-items: flex-start;
  padding-bottom: 3rem;
  padding-top: 10px;
}

.logo-wrapper {
  padding: 1rem;
  position: relative;
  > img{
    max-width: 150px;
  }
}

.menu-button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%) rotateY(180deg);

  &.btnCollapse {
      transform: translateY(-50%)
  }
}