.header{
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 5;
  padding: 10px 1rem;
 
  border-bottom: 1px solid #d9d9d9;
}
.headerButton{
  position: absolute;
  left: 50%;
  top: 8px;
  z-index: 6;
  transform: translateX(-50%);
}
.menu-button{
  position: absolute;
  left: 240px;
  top: 10px;
  z-index: 9;
  transition: all 0.3s ease;
  &.btnCollapse{
      left: 120px;
  }
}